<div class="sidebar">
  <h2>Select Department</h2>
  <ul>
    <li (click)="selectDepartment('branchbanking')">Personal Banking</li>
    <li (click)="selectDepartment('microfinance')">Microfinance</li>
    <li (click)="selectDepartment('finance')">Finance and Accounts</li>
    <li (click)="selectDepartment('asset')">Asset Operation</li>
    <li (click)="selectDepartment('Foreign Exchange')">Foreign Exchange</li>
    <li (click)="selectDepartment('Taxation')">Taxation</li>
    <li (click)="selectDepartment('Audit and Compliance')">Audit and Compliance</li>
    <li (click)="selectDepartment('Marketing and Business Development')">Marketing & Business</li>
    <li (click)="selectDepartment('Technology/IT')">Technology / IT</li>

  </ul>
</div>
