<div class="container">
  <div class="header">
    <h2>Branch Banking Employee Details</h2>
    
    <button class="new-btn" (click)="selectAddnew('personalbanking')">Add New</button>

  </div>

  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>Employee Name</th>
        <th>Designation</th>
        <th>Email ID</th>
        <th>Contact Number</th>
        <th>Employee ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.designation }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.contact }}</td>
        <td>{{ emp.employeeId }}</td>
        <td>
          <button class="view-btn" (click)="onView(emp.employeeId)">View</button>
          <button style="margin-left: 5px;" class="view-btn" (click)="onDelete(emp.employeeId)">Delete</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
